.header-admin{
    height: 60px;
    background-color: darkblue !important;
        a:hover,
        button:hover{
            color: red !important;
        }
        .user{
            color: beige;
        }
        li{
            a{
                &:hover{
                    color: red !important;
                }
            }
        }
        .drop-auth{
            color: darkblue !important;

        }
}

li{
    a{
        text-decoration: none;
        color: beige !important;
        font-weight: bold !important;
    }

}
